.post {
  padding: 10px;
  background-color: rgb(154, 150, 146);
  color: white;
  border-radius: 5px;
}

.userId {
  padding: 3px;
  background-color: rgb(10, 85, 95);
  color: white;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  margin-bottom: 5px;
}

.title {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
  padding-top: 5px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
